.alignleft {
	float: left;
  padding-left: 15px;
}
.alignright {
	float: right;
}

.lightningCardHeader{
    color: #0176D3;
    text-transform: uppercase;
  }
 
  .borderCSS{
    border-radius: 5px;
      padding-top: 10px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #B9B9B9;
      opacity: 1;
     margin-top: 10px;
  }

  .clearBoth{
    clear:both;
  }
.pagination {
    display: block;
    padding-top:30px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a:hover:not(.active) {background-color: #ddd;}

  .pagination  ul li{
    cursor:pointer;
    display: inline;
    padding-right: 20px;
  }

  .pagination ul{
    display: flex;
    padding-right: 50px;
  }


  