.mainContainer {margin: auto; width: 100%; border: 1px solid black;}
.margin_ten {margin: 10px;}
.system_billing_details-dataTable {border: 1px solid; text-align: center; width: 95%; font-size: 100%;}
.tableFooter {border-top: 1px solid;}
.showLeftBorder {border-left: 1px solid;}